<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>documentation</title>
    <link rel="stylesheet" href="{{'/assets/css/reset.css' | url }}" />
    <link rel="stylesheet" href="{{'/assets/css/style.css' | url }}" />

  </head>

  <body>
  
  <div class="title">
    <a href="https://github.com/RandomLab/docs.randomlab.io">docs.randomlab.io</a>
  </div>
