{% include "../components/header.njk" %}

<section class="container">

<ul class="index">
{%- for projet in collections.type -%}

    {% if projet.data.publish %}

    <li><a href="{{ projet.data.page.url }}">{{ projet.data.title }}, {{ projet.data.author }}</a></li>

    {% endif %}

{%- endfor %}
</ul>

</section>

{% include "../components/footer.njk" %}