{% include "../components/header.njk" %}

<ol>
{%- for projet in collections.type -%}

    {{ projet.data | log }}

    <li><a href="{{ projet.data.page.url }}">{{ projet.data.title }}, {{ projet.data.author }}</a></li>

{%- endfor %}
</ol>

{% include "../components/footer.njk" %}
