{% include "../components/header.njk" %}

<section class="container">
    
    {% include "../components/nav.njk" %}

    <article class="projet">
    {{ content | safe }}
    </article>

</section>

{% include "../components/footer.njk" %}

